@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700');

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Averia Serif Libre", cursive;
  background-color: #55ACEE;
}

.container {
  margin: 0 auto;
  padding-top: 15vh;
  height: 100vh;
  text-align: center;
}

header {
  margin-bottom: 40px;
  font-size: 30px;
}

.quote, .author {
  margin-bottom: 20px;
  text-align: center;
}

.buttons {
  width: 900px;
  height: auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    margin-bottom: 15px;
    padding: 10px 0;
    width: 350px;
    height: 60px;
    background-color: #55ACEE;
    color: #ffffff;
    font-family: "Averia Serif Libre", cursive;
    font-size: 30px;
    border: 2px solid #0a89eb;
    border-radius: 4px;
    display: block;
    cursor: pointer;
  }

  .tweet-button a {
    color: #ffffff;
    text-decoration: none;

    .fa-twitter {
      width: 35px;
      height: 35px;
      text-align: center;
      background-color: #55ACEE;
      color: #ffffff;
      line-height: 30px;
    }
  }
}